<div >
  <mat-card  *ngFor="let movie of moviesResponse.Search" class="movie-card">
    <mat-card-header>
      <div mat-card-avatar class="movie-header-image"></div>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <span>({{moviesResponse.Search[0].Year}})</span>
      <mat-card-subtitle>Type: {{moviesResponse.Search[0].Type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="moviesResponse.Search[0].Poster" alt="Photo of movie">
    <!-- <!<mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content> -->
    <mat-card-actions> 
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>